<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/userLayout.html}">
<head>
    <title>PTHW+</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="fragments/profileFragments :: wyswietlPlikInfo"></div>
    </div>


<div th:unless="${param.test}">
    <div layout:fragment="content">
        <div th:replace="fragments/profileFragments :: default"></div>
    </div>
</div>

</body>
</html>