<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="wyswietlInfo">
    <div class="container  flex-grow-1 container-p-y">

        <div class="media align-items-center py-3 mb-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
            <div class="media-body ml-4">
                <h4 class="font-weight-bold mb-0"th:text="${user.getFirstname() + ' ' + user.getLastname()}">aaa<span class="text-muted font-weight-normal">@nick</span></h4>
                <div class="text-muted mb-2"th:text="${currentUser.getUsername()}">ID: 3425433</div>
                <a th:if="${currentUser.getUsername() == user.getUsername() or currentUser.isAdmin()}" href="/" th:href="@{/profile{param.u}/edit" class="btn btn-primary btn-sm">Edytuj</a>&nbsp;
                <a  class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Data rejestracji:</td>
                        <td>01/23/2017</td>
                    </tr>
                    <tr>
                        <td>Ostatnia aktywność:</td>
                        <td>01/23/2018 (14 dni temu)</td>
                    </tr>
                    <tr>
                        <td>Zweryfikowany:</td>
                        <td><span class="fa fa-check text-primary"></span>&nbsp; Tak</td>
                    </tr>
                    <tr>
                        <td>Rola:</td>
                        <td>User</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>
                            <div th:if="${activeService.isActive(user.getEmail())}">
                                <span class="font-weight-bold text-success">Aktywny</span>
                            </div>
                            <div th:unless="${activeService.isActive(user.getEmail())}">
                                <span class="font-weight-bold text-danger">Nie aktywny</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr class="border-light m-0">
            <div class="table-responsive">
                <table class="table card-table m-0">
                    <tbody>
                    <tr>
                        <th>Twoje pozwolenia</th>
                        <th>Statystyki</th>
                        <th>Dodawanie raportów</th>
                        <th>Odczyt raportów</th>
                        <th>Usuwanie raportów</th>
                    </tr>
                    <tr>
                        <td>Ty</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="row no-gutters row-bordered">
                <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Dodaj coś tutaj</div>
                        <div class="text-xlarge">125</div>
                    </a>
                </div>
                <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Dodaj coś tutaj</div>
                        <div class="text-xlarge">534</div>
                    </a>
                </div>
                <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Dodaj coś tutaj</div>
                        <div class="text-xlarge">236</div>
                    </a>
                </div>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Nazwa użytkownika:</td>
                        <td th:text="${user.getUsername()}">nmaxwell</td>
                    </tr>
                    <tr>
                        <td>Imię:</td>
                        <td th:text="${user.getFirstname() + ' ' + user.getLastname()}">Nelle Maxwell</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td th:text="${user.getEmail()}">nmaxwell@mail.com</td>
                    </tr>
                    <tr>
                        <td>Firma:</td>
                        <td>PTHW sp. z o.o.</td>
                    </tr>
                    </tbody>
                </table>


                <h6 class="mt-4 mb-3">Dane personalne</h6>

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Data urodzin:</td>
                        <td>May 3, 1995</td>
                    </tr>
                    </tbody>
                </table>

                <h6 class="mt-4 mb-3">Kontakt</h6>

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Numer telefonu:</td>
                        <td>+48 555 555 555</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
<div th:fragment="default">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Centrum</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Wygeneruj raport</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Przychody (Miesięcznie)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40,000zł</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Przychody (Rocznie)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">215,000zł</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Zadania
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Oczekujące żądania</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Liczba badań technicznych</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Więcej opcji:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Rodzaje samochodów</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Osobowe
                                        </span>
                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Ciężarowe
                                        </span>
                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Inne
                                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projekty</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Server Migration <span
                            class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Sales Tracking <span
                            class="float-right">40%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Customer Database <span
                            class="float-right">60%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Payout Details <span
                            class="float-right">80%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Account Setup <span
                            class="float-right">Complete!</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
            </div>
        </div>
    </div>
</div>
</body>
</html>