<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="wyswietlInfo">
    <div class="container  flex-grow-1 container-p-y">

        <div class="media align-items-center py-3 mb-3">
            <img th:src="*{'data:image/png;base64,'+currentUser.getByte64Image()}" alt="" class="d-block ui-w-100 rounded-circle" style="width: 30%" >
            <div class="media-body ml-4">
                <h4 class="font-weight-bold mb-0"th:text="${user.getFirstname() + ' ' + user.getLastname()}">aaa<span class="text-muted font-weight-normal">@nick</span></h4>
                <div class="text-muted mb-2"th:text="${currentUser.getUsername()}">ID: 3425433</div>
                <a th:if="${currentUser.getUsername() == user.getUsername() or currentUser.isAdmin()}" href="/" th:href="@{/profile/{u}/edit (u=${user.getUsername()})}" class="btn btn-primary btn-sm">Edytuj</a>&nbsp;
                <a  class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Data rejestracji:</td>
                        <td th:text="${#temporals.format(user.getRegistrationDate(), 'HH:mm dd-MM-yyyy')}">>01/23/2017</td>
                    </tr>
                    <tr>
                        <td>Ostatnia aktywność:</td>
                        <td th:text="${#temporals.format(user.getLastActiveDate(), 'HH:mm dd-MM-yyyy')}">01/23/2018 (14 dni temu)</td>
                    </tr>
                    <tr>
                        <td>Zweryfikowany:</td>
                        <td><span class="fa fa-check text-primary"></span>&nbsp; Tak</td>
                    </tr>
                    <tr>
                        <td>Rola:</td>
                        <td>User</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>
                            <div th:if="${activeService.isActive(user.getEmail())}">
                                <span class="font-weight-bold text-success">Aktywny</span>
                            </div>
                            <div th:unless="${activeService.isActive(user.getEmail())}">
                                <span class="font-weight-bold text-danger">Nie aktywny</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr class="border-light m-0">
            <div class="table-responsive">
                <table class="table card-table m-0">
                    <tbody>
                    <tr>
                        <th>Twoje pozwolenia</th>
                        <th>Statystyki</th>
                        <th>Dodawanie raportów</th>
                        <th>Odczyt raportów</th>
                        <th>Usuwanie raportów</th>
                    </tr>
                    <tr>
                        <td>Ty</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="row no-gutters row-bordered">
                <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Dodaj coś tutaj</div>
                        <div class="text-xlarge">125</div>
                    </a>
                </div>
                <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Dodaj coś tutaj</div>
                        <div class="text-xlarge">534</div>
                    </a>
                </div>
                <div class="d-flex col-md align-items-center">
                    <a href="javascript:void(0)" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Dodaj coś tutaj</div>
                        <div class="text-xlarge">236</div>
                    </a>
                </div>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Nazwa użytkownika:</td>
                        <td th:text="${user.getUsername()}">nmaxwell</td>
                    </tr>
                    <tr>
                        <td>Imię:</td>
                        <td th:text="${user.getFirstname() + ' ' + user.getLastname()}">Nelle Maxwell</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td th:text="${user.getEmail()}">nmaxwell@mail.com</td>
                    </tr>
                    <tr>
                        <td>Firma:</td>
                        <td>PTHW sp. z o.o.</td>
                    </tr>
                    </tbody>
                </table>


                <h6 class="mt-4 mb-3">Dane personalne</h6>

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Data urodzin:</td>
                        <td th:text="${user.getBirthDate()}">May 3, 1995</td>
                    </tr>
                    </tbody>
                </table>

                <h6 class="mt-4 mb-3">Kontakt</h6>

                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Numer telefonu:</td>
                        <td th:text="${user.getTelNumber()}">+48 555 555 555</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
<div th:fragment="default">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Centrum</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Wygeneruj raport</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Przychody (Ostatni miesiąc)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${allIncome}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Przychody (Rocznie)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">215,000zł</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Zadania
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Oczekujące żądania</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Liczba badań technicznych</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Więcej opcji:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Rodzaje samochodów</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink1">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Osobowe
                                        </span>
                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Ciężarowe
                                        </span>
                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Inne
                                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projekty</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Server Migration <span
                            class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Sales Tracking <span
                            class="float-right">40%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Customer Database <span
                            class="float-right">60%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Payout Details <span
                            class="float-right">80%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Account Setup <span
                            class="float-right">Complete!</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
            </div>
        </div>
    </div>
</div>
<div th:fragment="edytuj">
    <div class="container light-style flex-grow-1 container-p-y">
        <form  th:action="@{/save-profile/{u} (u=${user.getUsername()})}" th:object="${userDto}" th:method="POST" enctype="multipart/form-data" multiple="multiple" >
        <h4 class="font-weight-bold py-3 mb-4">
            Ustawienia użytkownika
        </h4>

        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">Ogólne</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Zmień hasło</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Informacje</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Powiadomienia</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">

                            <div class="card-body media align-items-center">
                                <img th:src="*{'data:image/png;base64,'+ getByte64Image()}" class="d-block ui-w-80 rounded-circle" >
                                <img id="imageResult" src="#" alt="" class="d-block ui-w-80 rounded-circle">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Dodaj nowe zdjęcie
                                        <input onchange="readURL(this);" type="file" th:field="*{image}" class="account-settings-fileinput" >
                                    </label>
                                    <button id="btnDelete1" type="button" class="btn btn-default md-btn-flat">Resetuj</button>
                                    <div class="text-light small mt-1">Dozwolone JPG, GIF or PNG. Rozmiar < 800K</div>
                                </div>
                            </div>
                            <script>
                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            $('#imageResult').attr('src', e.target.result);
                                        };
                                        reader.readAsDataURL(input.files[0]);
                                    }
                                }

                                (function () {
                                    $('#upload').on('change', function () {
                                        readURL(input);
                                    });

                                });
                            </script>
                            <hr class="border-light m-0">

                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Nazwa użytkownika</label>
                                    <input type="text" class="form-control mb-1" th:field="*{username}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Imię</label>
                                    <input type="text" class="form-control" th:field="*{firstName}" >
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Nazwisko</label>
                                    <input type="text" class="form-control"th:field="*{lastName}"  >
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="text" class="form-control mb-1"th:field="*{email}" >
                                    <div class="alert alert-warning mt-3">
                                        Twój adres e-mail nie jest potwierdzony! Sprawdź pocztę<br>
                                        <a href="javascript:void(0)">Wyślij ponownie potwiedzenie</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Firma</label>
                                    <input type="text" class="form-control" value="PTHW sp. z o.o.">
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">

                                <div class="form-group">
                                    <label class="form-label">Aktualne hasło</label>
                                    <input type="password" th:field="*{currentPassword}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Nowe hasło</label>
                                    <input type="password"th:field="*{newPassword}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Powtórz nowe hasło</label>
                                    <input type="password" th:field="*{repeatNewPassword}" class="form-control">
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-info">
                            <div class="card-body pb-2">

                                <div class="form-group">
                                    <label class="form-label">O mnie</label>
                                    <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Urodziny</label>
                                    <input type="text" class="form-control" th:field="*{birthDate}" >
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body pb-2">

                                <h6 class="mb-4">Dane kontatkowe</h6>
                                <div class="form-group">
                                    <label class="form-label">Telefon</label>
                                    <input type="text" class="form-control"th:field="*{telNumber}">
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="account-notifications">
                            <div class="card-body pb-2">

                                <h6 class="mb-4">Aktywność</h6>

                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked="">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone comments on my article</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked="">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone answers on my forum thread</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                        <span class="switcher-label">Email me when someone follows me</span>
                                    </label>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body pb-2">

                                <h6 class="mb-4">Application</h6>

                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked="">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">News and announcements</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly product updates</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked="">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly blog digest</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right mt-3">
            <button type="submit" name="action" value="save" class="btn btn-primary">Zapisz zmiany</button>&nbsp;
            <button type="cancel" name="action" value="cancel" class="btn btn-warning">Anuluj</button>
        </div>
        </form>
    </div>

</div>
<div th:fragment="upload">
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-2 mb-4">
            Przesyłanie raportu
        </h4>
        <form  th:action="@{/upload}" th:object="${raportDto}" th:method="POST" enctype="multipart/form-data" >
            <div class="media-body ml-4">
                Dodaj nowy raport
                <label class="btn btn-outline-primary">
                    <input type="file" th:field="*{raport}" class="account-settings-fileinput" >

                </label>

                <button id="btnDelete" type="button" class="btn btn-default md-btn-flat">Usuń</button>
                <button type="submit" name="action" value="save" class="btn btn-primary">Dodaj</button>&nbsp;
            </div>
        </form>
    </div>
</div>
<div th:fragment="wyswietlTabliceRap">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data Utworzenia</th>
                            <th>ID kontrahentów</th>
                            <th>ID rejestrów sprzedaży</th>
                            <th>Akcja</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Data Utworzenia</th>
                            <th>ID kontrahentów</th>
                            <th>ID rejestrów sprzedaży</th>
                            <th>Akcja</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="rap, iterStat: ${raporty}">
                            <td th:text="${rap.getId()}"></td>
                            <td th:text="${rap.getDataUtworzenia()}"></td>
                            <td th:text="${rap.getKontrahenci().getId()}"></td>
                            <td th:text="${rap.getRejestrySprzedazyVat().getId()}"></td>
                            <td>
                                <div class="btn-group btn-block">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Akcja
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/" th:href="@{/raport/usunRaport/{id} (id=${rap.getId()})}">Usuń</a>

                                        <a class="dropdown-item" href="#">Pokaż więcej info</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/" th:href="@{/raport/pokaz/{id} (id=${rap.getId()})}"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</body>
</html>
