<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PTHW+</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container-flex mx-5">
        <form  th:action="@{/register}" th:object="${user}" th:method="POST">
            <div class="row no-gutters">
                <div class="card col-lg-10  o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Stwórz konto!</h1>
                            </div>
                            <div class="form-group " >
                                    <div class="row" >
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <input th:field="*{username}" class="form-control text-center form-control-user" id="username" placeholder="Nazwa użytkownika"required>
                                            </div><!-- /input-group -->
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-2"></div>
                                    </div><!-- /.row -->
                                </div>
                            <div class="form-group " >
                                    <div class="row" >
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                <input th:field="*{email}"  class="form-control text-center form-control-user" id="email" placeholder="Adres E-mail"required>
                                            </div><!-- /input-group -->
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-1"></div>
                                    </div><!-- /.row -->
                                </div>
                            <div class="form-group row" >
                                    <div class="col-sm-6 mb-3 mb-sm-0" >
                                        <input th:field="*{firstName}" class="form-control form-control-user" id="firstName" placeholder="Imię" required>

                                    </div>
                                    <div class="col-sm-6">
                                        <input th:field="*{lastName}" class="form-control form-control-user" id="lastName" placeholder="Nazwisko"required>

                                    </div>
                                </div>
                            <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" th:field="*{password}"  class="form-control form-control-user" id="Hasło" placeholder="Hasło"required>

                                    </div>
                                    <div class="col-sm-6" >
                                        <input type="password" th:field="*{confirmPassword}"  class="form-control form-control-user" id="confirmPassword" placeholder="Powtórz hasło" required>

                                    </div>
                                </div>
                            <div class="form-group">
                                    <input id="terms" type="checkbox" th:field="*{terms}" required/>
                                    <label class="control-label" for="terms"> Zgadzam sie z <a href="#">warunkami serwisu</a>.</label>
                                </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Zarejestruj się">
                            <!--<button type="submit" class="btn btn-success">Zarejestruj</button>-->
                            </a>
                            <hr>


                            <hr>
                            <div class="text-center">
                                <a class="small" href="/" th:href="@{/reset}">Zapomniałeś hasła?</a>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/" th:href="@{/login}">Jeśli posiadasz konto, kliknij tutaj!</a>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-2 o-hidden border-0 my-5 " th:if="${#fields.hasErrors()}" style="background-color: rgba(245, 245, 245, 0.0); " >
                    <div class="d-flex-lg mb-1">
                        <div class="mb-auto pl-2 ">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('username')}"
                                 th:each="error : ${#fields.errors('username')}" th:text="${error}">
                            </div>
                        </div>
                        <div class="mb-auto pl-2">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('email')}"
                                th:each="error : ${#fields.errors('email')}" th:text="${error}">
                            </div>
                        </div>
                        <div class="mb-auto pl-2">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                                th:each="error : ${#fields.errors('firstName')}" th:text="${error}">
                            </div>
                        </div>
                        <div class="mb-auto pl-2">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                                th:each="error : ${#fields.errors('lastName')}" th:text="${error}">
                            </div>
                        </div>
                        <div class="mb-auto pl-2">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('password')}"
                                th:each="error : ${#fields.errors('password')}" th:text="${error}">
                            </div>
                        </div>
                        <div class="mb-auto pl-2">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('confirmPassword')}"
                                 th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">
                            </div>
                        </div>
                        <div class="mb-auto pl-2">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('global') && #fields.errors('confirmPassword') != null && #fields.errors('password') != null  }"
                                 th:each="error : ${#fields.errors('global')}" th:text="${error}">
                            </div>
                        </div>
                        <div class="mb-auto pl-2">
                            <div class="error-message alert alert-danger" th:if="${#fields.hasErrors('terms')}"
                                 th:each="error : ${#fields.errors('terms')}" th:text="${error}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; PTHW 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>