<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{userLayout.html}">
<head>
    <title>PTHW+</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Strona aktywnych użytkowników</h1>
    <!-- Page Heading-->
    <th><b>Zalogowani użytkownicy: </b></th>
    </br>
    <tr th:each="user, iterStat: ${activeUsers}">
        <td align="center" th:text="${iterStat.index + 1} + ') ' + ${user.getEmail()}"></td>
        </br>
    </tr>

</div>

</body>
</html>